@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.searchBox{
  position: relative;
  top: -46px;
  left: 872px;
  border-radius: 18px;
  height: 20px;
  width: 203px;
  padding-left: 20px;
  font-size: 12px;
}
.searchBtn{
position:relative;
top: -38px;
left: 836px;
height: 24px;
width: 24px;
cursor: pointer;
}
.notificationBar{
  position: relative;
  top: -73px;
  left: 1106px;
  height: 27px;
  width: 27px;
  cursor: pointer;
  padding-left: 7px;
}
h2{
  font-family: 'Poppins', sans-serif;
}
h3{
  font-family: 'Caveat', cursive;
}
body{
  background-color: #250d1ff0;
  color: white;
}
nav{
  margin: -12px -8px;
  background-color: yellow;
}
nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: #256daf;
  color: white;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  cursor:pointer;
}
nav ul li{
  padding: 0 12px;
}
nav ul div{
  padding: 0 12px;
}
.brand img{
  padding: 0 6px;
  width: 44px;
  position: relative;
  left: -5px;
  border-radius: 15px;
}
.brand{
  font-weight: bolder;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
  transition: 1s;
}
nav .brand:hover{
  color: pink;
}

.songs{
  position: relative;
  left: 67px;
    top: 46px;
    height: 47px;
    width: 317px;
  border-radius: 17px;
  background-color: #80007652;
  margin-bottom: 10px;
  padding: 22px 0px 0px 29px;
  transition: .2s;
}
.Play{
  position: relative;

  left: 248px;
  top: -122px;
      height: 30px;
      width: 30px;

  cursor: pointer;
}
.songs:hover{
  transform: scale(1.06);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
  background-color: #80000052;
}
.container{
  background-color: #a331f1e3;
  height: 463px;
  width: 470px;
  border-radius: 42px;
  position: relative;
  top: -20px;
  left: 380px;
}
.Song-title{
  background-color: #11c916bf;
      height: 35px;
      width: 414px;
      position: relative;
      top: 21px;
      left: 28px;
      border-radius: 39px;
      padding-top: 7px;
      text-align: center;
      transition: .3s;}
.Song-title:hover{
  transform: scale(1.06);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.song-img{
  border-radius: 10px;
height: 50px;
width: 50px;
position: relative;
top: -11px;
left: -21px;
}

.about-Song{
  position: relative;
  top: -72px;
left: 59px;
}
.soundTrack{
  position: relative;
  top: -104px;
  left: 48px;
  color: pink;
}
